<div class="top-bar">
	<div class="top-bar-resource">
		{{food.quantity}}x
		<img class="top-bar-resource-icon" title="{{ food.title | translate }}" alt="{{ food.alt | translate }}" src="{{food.url}}">
  </div>
	<div class="top-bar-resource">
		{{wood.quantity}}x
		<img class="top-bar-resource-icon" title="{{ wood.title | translate }}" alt="{{ wood.alt | translate }}" src="{{wood.url}}">
  </div>
	<div class="top-bar-resource">
		{{stone.quantity}}x
		<img class="top-bar-resource-icon" title="{{ wood.title | translate }}" alt="{{stone.alt}}" src="{{stone.url}}">
  </div>
	<div class="top-bar-resource">
		{{gold.quantity}}x
		<img class="top-bar-resource-icon" title="{{ gold.title | translate }}" alt="{{ gold.alt | translate }}" src="{{gold.url}}">
  </div>
  
	</div>