<div class="top-bar">
	<div class="top-bar-resource">
		{{food.quantity}}x
		<img class="top-bar-resource-icon" title="{{food.alt}}" alt="{{food.alt}}" src="{{food.url}}">
  </div>
	<div class="top-bar-resource">
		{{wood.quantity}}x
		<img class="top-bar-resource-icon" title="{{wood.alt}}" alt="{{wood.alt}}" src="{{wood.url}}">
  </div>
	<div class="top-bar-resource">
		{{stone.quantity}}x
		<img class="top-bar-resource-icon" title="{{stone.alt}}" alt="{{stone.alt}}" src="{{stone.url}}">
  </div>
	<div class="top-bar-resource">
		{{gold.quantity}}x
		<img class="top-bar-resource-icon" title="{{gold.alt}}" alt="{{gold.alt}}" src="{{gold.url}}">
  </div>
	</div>